@model IndexViewModel
    <h1>@Model.Title</h1>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab" 
    aria-controls="events" aria-selected="true">Events</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" id="events-tab" data-toggle="tab" href="#settings" role="tab" 
    aria-controls="events" aria-selected="true">Settings</a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" id="events-tab" data-toggle="tab" href="#blogs" role="tab" 
    aria-controls="events" aria-selected="true">Blogs</a>
  </li>
</ul>
<div class="tab-content" id="events">
  <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">

  TODO evetns:
  </div>
    <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="events-tab">

  TODO settings:
  </div>
    <div class="tab-pane fade show active" id="blogs" role="tabpanel" aria-labelledby="events-tab">

  TODO blogs:
  </div>
</div>