

<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" aria-current="page" href="/">Home</a>
    <a class="nav-link" href="/archive">Archive</a>

        <a class="nav-link" href="/admin/">Dashboard</a>
        <a class="nav-link" href="/admin/events">Events</a>
        <a class="nav-link" href="/admin/settings">Settings</a>
        <a class="nav-link" href="/admin/blogs">Blogs</a>
        <a class="nav-link" href="/admin/blog/add">Add New Blog</a>
        <a class="nav-link" href="/logout">Logout</a>
    
    </ul>

</nav>
