@{
  ViewData["Title"] = "Archive";
}

<h1 class="text-white">Archive</h1>

<div hx-get="/Archive/YearAndBlogs" hx-trigger="load">
  <div class="htmx-spinner spinner-grow" role="status"></div>
  </div>
</div>