@{
  ViewData["Title"] = "Blog";
}

@* TODO: may make sense to use a view model here*@
@* <div hx-get="/Blog/name" hx-trigger="load">
<div class="htmx-spinner spinner-grow" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div> *@